[Unit]
Description=FastAPI Application Service
After=network.target graphical.target

[Service]
User=your_user 
WorkingDirectory=/path/to/your/deployment/folder
Environment="PATH=/home/your_user/.local/bin:/usr/local/bin:/usr/bin"
ExecStart=/home/your_user/.local/bin/uv run python -m src.main
KillMode=mixed
Restart=always

[Install]
WantedBy=graphical.target
