name: Dev Docker Image CICD

on:
  push:
    branches: [ "dev" ]
  workflow_dispatch:

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repository
        uses: actions/checkout@v4 # 최신 버전 사용

      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          enable-cache: true
          cache-suffix: "optional-suffix" 

      - name: Set up Python
        run: uv python install 3.10

      - name: Install dependencies
        run: uv sync

      - name: Install Playwright browsers
        run: uv run playwright install --with-deps chromium

      - name: Run tests with pytest
        run: |
          # 필요한 환경 변수 설정 (테스트 환경용 .env 파일 사용 또는 직접 설정)
          # export SOME_TEST_VARIABLE=test_value
          uv run pytest -s

      - name: action-slack
        uses: 8398a7/action-slack@v3
        with:
          status: ${{ job.status }}
          author_name: Gibhub Actions - build
          fields: repo,commit,message,author # action,eventName,ref,workflow,job,took 추가할 수 있음
          mention: here
          if_mention: failure,cancelled
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_ALARM }} # required
        if: always() # Pick up events even if the job fails or is canceled.